* {
    background: radial-gradient(circle, red, yellow);
}

.container {
    display: flex;
    padding: 5em;
}

.table {
    padding: .5em;
    border: 2px solid #0a0a0a;
    max-width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.table-price .p {
    flex-direction: column;
    align-content: center;
}

.rate {
    font-weight: 700;
    text-transform: uppercase;
}

.date {
    font-weight: 700;
    text-transform: uppercase;
}
button {
    text-transform: capitalize;
}